{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'portfolio/css/styles.css' %}" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
  <div class="fluid-container">
    <!-- ========================== MAIN HEADER =============================-->
    <header class="main-header" id="home">
      <!-- Main navigation -->
      <nav class="main-nav">
        <h6 class="sr-only">main website navigation</h6>
        <div class="container clearfix">
          <div class="nav-logo pull-left">
            <a href="#home">
                            <i class="fa fa-camera-retro"></i>Klenkov<span class="main-color text-glowing">photo</span>
                        </a>
          </div>
          <ul class="pull-right">
            <li><a class="navlink active" href="#home">Главная</a></li>
            <li><a class="navlink" href="#portfolio">Портфолио</a></li>
            <!-- <li><a class="navlink" href="#about-me">Обо мне</a></li> -->
            <li><a class="navlink" href="#contact">Контакты</a></li>
          </ul>
          <div class="overlay visible-xs"></div>
          <div class="hamburger pull-right visible-xs">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </nav>
      <div class="container">
        <!--  <div class="hero-box">
          <h3 class="animated fadeInLeft">Imagine</h3>
          <h2 class="animated fadeInLeft">Discover</h2>
          <h1 class="animated fadeInLeft">Capture</h1>
        </div>
      -->
        <a href="#portfolio" class="hero-btn">
                      <i class="fa fa-arrow-down"></i>
                  </a>
        <nav>
          <h6 class="sr-only">Header social navigation</h6>
          <ul class="horizontal-nav header-social-nav">
            <li class="social-btn animated rotateIn">
              <div class="diamond-frame"></div>
              <a href="https://vk.com/klenkovphoto" alt="Vk">
                <i class="fa fa-vk" aria-hidden="true"></i>
              </a>
            </li>
            <li class="social-btn animated rotateIn">
              <div class="diamond-frame"></div>
              <a href="http://instagram.com/klenkovphoto" alt="Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a></li>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- ========================== PORTFOLIO SECTION =============================-->
    <section class="portfolio" id="portfolio">
      <div class="container">

        <div class="controls-row clearfix row">
          <ul class="horizontal-nav">
            <li class="portfolio-btn" data-filter="1">Свадьбы</li>
            <li class="portfolio-btn" data-filter="2">Love story</li>
            <li class="portfolio-btn" data-filter="3">Семья</li>
            <li class="portfolio-btn" data-filter="4">Путешествия</li>
          </ul>
        </div>
      </div>
      <div class="filtr-container row">
        {% for wedding in weddings %}
        <section class="filtr-item" data-category="1">
          <a href="photologue/gallery/{{wedding.slug}}/">
                        <img class="filtr-img" alt="photo" src="{{wedding.cover}}" />
                    </a>
        </section>
        {% endfor %} {% for x in lovestories %}
        <section class="filtr-item" data-category="2">
          <a href="photologue/gallery/{{x.slug}}/">
                        <img class="filtr-img" alt="photo" src="{{x.cover}}" />
                    </a>
        </section>
        {% endfor %}
      </div>
    </section>

    <!-- ========================== ETHOS SECTION =============================-->
    <section class="ethos" id="ethos">
      <div class="container">
        <h1 class="underlined sr-only">ethos</h1>
        <img src="media/img/oldcamera.png" alt="old camera">
        <blockquote>
          Выдающаяся фотография –<br>это глубина чувств, <br> а не глубина резкости <br>
          <cite>&mdash;Питер Адамс</cite>
        </blockquote>
      </div>
    </section>

    <!-- ========================== ABOUT SECTION =============================-->


    <!-- ========================== CONTACT SECTION =============================-->
    <section class="contact lightblack-section" id="contact">
      <div class="container">
        <div class="row">
          <h1 class="underlined">Контакты</h1>
        </div>
        <div class="row">
          <div class="col-sm-4 text-left contact-details">
            <div class="row">
              <div class="col-xs-1">
                <i class="fa fa-location-arrow"></i>
              </div>
              <div class="col-xs-8">
                г. Орёл
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1">
                <i class="fa fa-phone"></i>
              </div>
              <div class="col-xs-8">
                <a class="contact-phone" href="tel:+79192028610">
                  +7-919-202-86-10
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1">
                <i class="fa fa-skype"></i>
              </div>
              <div class="col-xs-8">
                klenkov123
              </div>
            </div>
            <div class="row">
              <div class="col-xs-1">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="col-xs-8">
                klenkov123@gmail.com
              </div>
            </div>
          </div>
          <div class="col-sm-8 contact-form">
            <form method="post" action="https://formspree.io/klenkov123@gmail.com">
              <div class="row">
                <input type="text" id="name" name="name" placeholder="Имя" required>
              </div>
              <div class="row">
                <input type="email" id="email" name="_replyto" placeholder="e-mail" required>
              </div>
              <div class="row">
                <textarea name="message" id="message" placeholder="Привет! Хочу обсудить..." rows="7"></textarea>
              </div>
              <div class="row">
                <button class="full-btn" type="submit" value="Send">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- ========================== FOOTER SECTION =============================-->
    <footer class="main-footer" id="main-footer">
      <div class="container">
        <div class="row">
          <!-- Footer site navigation -->
          <div class="col-sm-6 clearfix">
            <nav class="site-footer-nav">
              <h6 class="sr-only">footer site navigation</h6>
              <ul class="horizontal-nav">
                <li>
                  <a class="main-link" href="#home">Главная</a> &mdash;
                  <a class="main-link" href="#portfolio">Портфолио</a> &mdash;
                  <!--  <a class="main-link" href="#about-me">Обо мне</a> &mdash;-->
                  <a class="main-link" href="#contact">Контакты</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Footer social navigation -->
          <div class="col-sm-6 clearfix">
            <nav class="social-footer-nav">
              <h6 class="sr-only">footer social navigation</h6>
              <ul class="horizontal-nav">
                <li class="social-btn">
                  <a href="https://vk.com/klenkovphoto" alt="Vk">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="social-btn">
                  <a href="http://instagram.com/klenkovphoto" alt="Instagram">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="row">
          <p>
            Photocraft is originally developed by <a class="main-link" href="http://yiotis.net" target="_blank">Yiotis Kaltsikis</a> and released under the <a class="main-link" href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
          </p>
        </div>
      </div>
    </footer>
  </div>
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!--script src="{% static 'portfolio/js/vendor/jquery/jquery-3.2.1.min.js' %}"></script-->
  <script src="{% static 'portfolio/js/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'portfolio/js/vendor/filterizr/jquery.filterizr.min.js' %}"></script>
  <script src="{% static 'portfolio/js/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'portfolio/js/app.js' %}"></script>
</body>

</html>